html {
  max-width: 100vw;
  overflow-x: hidden;
  max-height: 100vh;
  min-height: 100vh;
}

.customNavLink {
  text-decoration: none !important;
  width: 200px !important;
  height: 200px !important;
  color: green !important;
}

.customNavLink.active {
  background-color: red !important;
  color: white !important;
}
