html {
  overflow-x: hidden;
  background-color: #21213E;

  
}
body{
  background-color: #21213E;
}

.customNavLink.active {
  background-color: red !important;
  color: white !important;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: transparent  !important;
}
.css-uhb5lp{
  background-color: transparent  !important;
}
